.firstCard {
  margin-top: 15px;
  text-align: center;
  width: 100%;
  height: 600px;
}
.whiteColour {
  color: white;
}
.card-body {
  background: linear-gradient(to right, gainsboro, grey);
}
.card-img {
  
}
.container {
  background-color: cadetblue;
}
body{
  background-color: cadetblue;
}
.row {
  background-color: cadetblue;
}
/* @media (min-width : 850px){
  .firstCard{
    
  }
} */
body p{
  margin-bottom: 7px;
}
#weather{
  margin-top: 10px;
}
.card-header{
 padding: 0px;
 border: 0px;
 background: linear-gradient(to right, gainsboro, grey);
}
.card-header img{
  width: 90%;
  height: 200px;
}
.card-body{
  padding: 0px;
}